[Unit]
Description=Shadowsocks-Go Server Service
After=network-online.target

[Service]
Type=simple
User=root
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
ExecStart=/root/go/bin/shadowsocks-server -c /etc/shadowsocks/server.json
StandardOutput=file:/var/log/ss-go-server/stdout.log
[Install]
WantedBy=multi-user.target
