[Unit]
Description=Shadowsocks Manager Server

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/ss-manager --manager-address /var/run/shadowsocks-manager.sock -c /etc/shadowsocks-libev/vultr.json -a shadowsocks start
ExecStop=/usr/local/bin/ss-manager --manager-address /var/run/shadowsocks-manager.sock -c /etc/shadowsocks-libev/vultr.json -a shadowsocks stop

[Install]
WantedBy=multi-user.target
